################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src
*.suo
*.user
_ReSharper.*
bin
obj
packages
